nav {
    border-bottom: 1px solid #000000;    
}

nav .content {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 5px;
}

.profile-link img {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}